.hideActionButton{
    visibility: hidden; 
}
.hideCheckbox{
    visibility: hidden; 
}
.btnDiv{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}